@charset "utf-8";

.container{
    width: 1400px;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 10px;
    position: relative;
}


/* =======header========= */

header {
    width: 100%;
    padding-top: 21px;
}

.flex-container {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.flex-contaienr > .logo{
    margin-left: 300px;
    width: 300px
}

.logo img {
    margin-left: 500px;
    width: 379px;
}


/* logo-account */


.search-input-box {
    position: relative;
}

.search-input-box input[type=search]{
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 3px;
}
.search-icon {
    position: absolute;
    top: 0;
    right: 3px;
}

.account-info ul{
    display: flex;
    justify-content: space-between;
}

.account-info ul > li {
    padding-left: 33px;
}

.account-info ul > li:first-child {
    background: url(../images/account.gif) no-repeat;
    background-size: contain;
}

.account-info ul > li:last-child {
    background: url(../images/bucket.gif) no-repeat;
    background-size: contain;
}

/* main menu */

.mainmenu {
    margin-top: 30px;
    padding: 5px 0  5px 0;
    background-color: #008190;
}

.mainmenu .gnb {
    display: flex;
    list-style: none;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.mainmenu .gnb li {
    width: 117px;
    margin: 5px 10px 5px 10px;
}

.mainmenu .gnb li a {
    text-align: center;
    color: #fff;
    font-weight: bold;
}


.mainmenu .gnb .list {
    display: none;
    position: absolute;
    top: 36px;
    width: 100%;
    background-color: #f1f1f1;
}


.mainmenu .gnb .list li {
    display: block;
}

.mainmenu .gnb .list li a {
    display: block;
    padding: 10px;
    color: #333;
}

.mainmenu .gnb .list li a:hover {
    display: flex;
    background-color: #ddd;
}



/* =======main========= */

#main-list h2 {
    font-size: 0;
}

.slide {
    display: flex;
    margin-top: 64px;
    height: 462px;
    overflow: hidden;
}

.main-sub {
    width: 100%;
}

.main-sub > ul {
    margin-top: 80px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}


.main-sub > ul > li> a > img {
    display: block;
    margin-bottom: 25px;
}

.main-sub > ul > li> a {
    font-weight: bold;
    text-align: center;
}