@charset "utf-8";

@keyframes shake{
    from {transform: rotate(0);}
    33%{transform: rotate(-30deg);}
    66% {transform: rotate(15deg);}
    to {transform: rotate(0deg);}
}


.wrapper{
    width: 1400px;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 10px;
    position: relative;
}

body {
    font-family: 'KBO Dia Gothic';
}

/* =======header========= */

header {
    width: 100%;
    padding-top: 21px;
}

/* logo */

.logo-search-account .flex-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.flex-contaienr > .logo{
    margin-left: 50%;
    width: 300px
}

.logo img {
    margin-left: 500px;
    width: 379px;
}


/* account */


.search-input-box {
    position: relative;
}

.search-input-box input[type=search]{
    width: 100%;
    margin-bottom: 7px;
    font-size: 18px;
    padding: 3px;
}
.search-icon {
    position: absolute;
    top: 6px;
    right: 5px;
}

.account-info ul{
    display: flex;
    justify-content: space-between;
}

.account-info ul > li {
    padding-left: 33px;
}

.account-info ul > li > a {
    font-size: 20px;
}


.account-info ul > li:first-child {
    background: url(../images/account.gif) no-repeat;
    background-size: contain;
}

.account-info ul > li:last-child {
    background: url(../images/bucket.gif) no-repeat;
    background-size: contain;
}

.account-info ul > li:hover > a {
    font-weight: 900;
}
/* main menu */

.mainmenu {
    margin-top: 30px;
    padding: 5px 0  5px 0;
    background-color: #008190;
}

.mainmenu .gnb {
    display: flex;
    flex-wrap: wrap;
    width: 636px;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
}

.gnb > li > a {
    color: #fff;
    font-size: 18px;
    padding: 5px;
}

.gnb > li > a:hover{
    font-weight: bold;
}

.gnb .sub-menu {
    position: absolute;
    display: none;
    padding: 20px;
    left: 50%;  top: 29px;
    transform: translate(-50%);
    width: 200%; 
    background-color: #f1f1f1;
    z-index: 1;
}

.sub-menu > li {
    min-width: 15%;
    margin-right: 50px;
}

.sub-menu > li > a {
    text-align: left;
    font-weight: bold;
    color: black;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.sub-menu > li > a:hover {
    background-color: #888;
}

.sub-menu > li > ul > li > a {
    padding-top: 20px;
    text-align: left;
    font-size: 18px;
    color: #000;
}

.sub-menu > li > ul > li > a:hover {
    font-weight: bold;
}



/* =======main========= */

#main-list h2 {
    font-size: 0;
}

/* main-slide */
.slide {
    display: flex;
    margin-top: 64px;
    height: 462px;
    overflow: hidden;
}

/* main-sub */
.main-sub {
    width: 100%;
}

.main-sub > ul {
    width: 100%;
    margin-top: 80px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
}

.main-sub > ul > li {
    width: 20%;
    margin: 20px;
} 


.main-sub > ul > li> a > img {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.main-sub > ul > li > a {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.main-sub > ul > li> a:hover {
    color: #00565f;
}

.main-sub > ul > li> a:hover > img {
    opacity: 0.5;
}

/*section'clear-whey'*/
#clearwhey {
    margin-top: 120px;
}

#clearwhey .info-video .flex-container {
    display: flex;
}

/* clearwhey-info */
.clearwhey-info {
    width: 842px;
    height: 960px;
    position: relative;
}

.clearwhey-info > .clearwhey-img {
    width: 100%;
}

.clearwhey-info > .clearwhey-img > img {
    width: 100%;
    height: 960px;
    max-width: cover;
}


.clearwhey-info > .content-box {
    width: 710px;
    padding: 100px 30px;
    position: absolute;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    align-items: center;
    opacity: 0;
    background: #8888887e;
    transition: all 0.5s ease-in-out;
}

.clearwhey-info > .content-box > ul > li {
    margin: 20px 0;
}

.clearwhey-info ul > li > strong {
    margin: 40px 0;
    font-size: 22px;
}

.clearwhey-info ul > li:nth-child(2) {
    margin-top: 88px;
}

.clearwhey-info > .content-box ul ul > li {
    padding-top: 40px;
    margin-top: 40px 0;
    list-style:disc;
}

.clearwhey-info ul ul> li:nth-child(2) {
    margin-top: 20px;
}

.clearwhey-info ul ul > li > h4 {
    margin-bottom: 20px;
}

.clearwhey-info ul ul > li > p {
    font-weight: bold;
}

.info-video video {
    border: 0px;
    width: 540px;
}

.clearwhey-info:hover > .content-box  {
    opacity: 1;
}

/*Best-seller*/

section.best-seller {
    width: 100%;
    padding: 80px 0;
    margin-top: 110px;
}

.best-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-logo > span {
    width: 493px;
    height: 6px;
    background-color: #008190;
    border-radius: 3px;
}

.best-logo > h2 {
    font-size: 33px;
}

.best-seller .flex-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}

.button-left {
    position: absolute;
    top: 200px;
    cursor: pointer;
}



.button-right {
    position: absolute;
    top: 200px;
    right: 0;
    transform: rotate(180deg);
    cursor: pointer;
}

.best-seller .flex-container .slide-container {
    width: 1135px; height: 700px;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
}

.slide-container > .best-info {
    min-width: 22%;
    margin: 80px 20px;
}

.img-box {
    width: 100%;
    margin-bottom: 45px;
    overflow: hidden;
}

.img-box > img {
    width: 100%;
}

.best-info > a > strong {
    font-size: 21px;
    margin-top: 21px 
}
.best-info > a > strong:last-child {
    font-size: 21px;
}

.best-info > a > button {
    margin-top: 31px;
    font-size: 21px;
    padding: 10px 15px;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #008190;
}

.best-info:hover > a > .img-box > img {
    scale: 1.1;
}

.best-info:hover > a > button {
    background-color: #00565f;
}

/*#purpose*/

#purpose {
    margin-top: 80px;
}

#purpose .flex-container {
    width: 100%;
    height: 970px;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

.male,
.female {
    width: 50%;
    max-width: 1900px;
    background-image: url(../images/male.jpg);
    background-size: cover;
    background-position: left top;
    align-items: center;
    overflow: hidden;
}

.male > h2,
.female > h2 {
    font-size:53px;
    color: #fff;
    text-align: center;
    height: 25%;
    padding-top: 30px;
}
    
.male > .purpose-male,
.female > .purpose-female {
    width: 100%;
    height: 75%;
    /* background-color: #00565f; */
}

.purpose-male > ul,
.purpose-female > ul {
    height: 100%;
    /* background-color:#888 */
}

.purpose-male > ul > li, 
.purpose-female > ul > li {
    height: 33.33%;
    position: relative;
    /* background-color:aquamarine; */
}

.purpose-list li:first-child > a,
.purpose-list li:last-child > a {
    font-family: 'KBO-Dia-Gothic_bold';
    position: absolute;
    left: -100%; top: 0;
    height: 100%;
    width: 100%;
    /* background-color: #fff; */
    font-size: 53px;
    text-align: center;
    line-height: 500%;
    color: white;
    background-color: #88888849;
    border: 1px solid black;
    transition: all 0.3s ease-in;
}

.purpose-list li:nth-child(2) > a {
    font-family: 'KBO-Dia-Gothic_bold';
    position: absolute;
    right: -100%; top: 0;
    height: 100%;
    width: 100%;
    /* background-color: #fff; */
    font-size: 53px;
    text-align: center;
    line-height: 500%;
    color: white;
    background-color: #88888849;
    border: 1px solid black;

    transition: all 0.3s ease-in;
    transition-delay: 0.3s;
}

.male:hover .purpose-male li:first-child > a,
.male:hover .purpose-male li:last-child > a,
.female:hover .purpose-female li:first-child > a,
.female:hover .purpose-female li:last-child > a{
    left: 0;
}

.male:hover .purpose-male li:nth-child(2) > a,
.female:hover .purpose-female li:nth-child(2) > a{
    right: 0;
}

.purpose-list li:last-child > a{
    transition-delay: 0.6s;
}

/* female */

.female {
    background-image: url(../images/female.jpg);
}

/* section event */

.event {
    margin-top: 90px;
    width: 100%;
}

.event-container {
    width: 100%;
    border-radius: 30px;
    height: 397px;
    margin: 38px 0;
    padding: 64px  213px;
    color: #fff;
}


.event-container > .flex-container {
    display: flex;
    align-items: center;
}

.photo {
    width: 254px;
}

.photo > img {
    width: 100%;
}

.content-txt {
    text-align: center;
}

.content-txt > h2{
    font-size: 45px;
}

.event-container .content-txt > p {
    font-family: 'KBO Dia Gothic';
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-top: 28px;
    line-height: 1.3em;
}

.content-txt > button {
    width: 160px;
    padding: 10px;
    margin-top: 20px;
    border: 0px;
    border-radius: 7px;
}

.content-txt > button > a {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}



.download {
    background-color: #00aec5;
    overflow: hidden;
    position: relative;
}

.download .smartphone {
    position: absolute;
    top:83%;
    left:213px;
    transition: all 0.5s ease-in-out;
}

.download .content-txt {
    margin-left: 351px;
    color: #fff;
}

.download .content-txt > button {
    background-color: #b9bcb8;
}

.download:hover .smartphone{
    top: 16%;
}

.download button:hover{
    background-color: #888;
}

.recommend {
    background-color: #b9bcb8;
}

.recommend .content-txt {
    margin-left: 174px;
}

.recommend .content-txt > button {
    background-color: #00aec5;
}

.recommend:hover .thumb {
    animation: shake 1s infinite ;
}

.recommend button:hover {
    background-color:#008190
}

/* Sponsor Section Styles */

.sponser {
    width: 100%;
    padding: 40px 100px;
}

.sponser > .flex-container {
    display: flex;
    justify-content: space-between;
}

.sponser .spon-img {
    width: 25%; height: 95px;
}

.sponser 

.flex-container > div > a > img {
    height: 100%;
    margin: 0 auto;
    display: block;
}
